body {
	color: #2e6e9e; 
	background-color: #eaf4fd; 
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 17pt;
}
input, textarea, select, h2, h3, h4, h5, h6 {color: #2e6e9e;}

.footer {font-size: .5em;}
.hide-on-startup {display: none;}
.top-separator {margin-bottom: 15px;}
.on {background-color: red;}
.off {background-color: #222;}
.binary-clock {border-spacing: 10px; border-collapse: separate;}
.led {height: 30px; width: 30px;}
.led-header {text-align: center;}
.top-pad {margin-top: 10px;}
